<template>
  <div class="voice d-flex justify-content-center" >
    <InfoOwn class="col-sm-3"></InfoOwn>
    <Manager class="col-sm-9"></Manager>
  </div>
</template>

<script>
import Manager from "@/components/Manager.vue";
import InfoOwn from "@/components/Info-Own.vue";
export default {
  name: 'app-home',
  components : {
    Manager,
    InfoOwn
  },
  data() {
    return {
      cur : {
        name : null
      },
      runtimeTranscription_: "",
      transcription_: [],
      lang_: "vi-VN"
    };
  },
  methods: {
    startSpeechToTxt() {
      // initialisation of voicereco

      window.SpeechRecognition =
          window.SpeechRecognition ||
          window.webkitSpeechRecognition;
      const recognition = new window.SpeechRecognition();
      recognition.lang = 'vi-VN'; // Chọn ngôn ngữ (vi-VN cho tiếng Việt)
      recognition.interimResults = false;
      recognition.maxAlternatives = 1; // Số lượng kết quả giọng nói tối đa
      recognition.continuous = true; // Thử với chế độ liên tục
      recognition.maxSpeechTimeout = 50000;

      // event current voice record word
      recognition.addEventListener("result", event => {
        let text = Array.from(event.results)
            .map(result => result[0])
            .map(result => result.transcript)
            .join("");
        console.log("Text :" , text);
        this.runtimeTranscription_ = text;
      });
      // end of transcription
      recognition.addEventListener("end", () => {
        this.transcription_.push(this.runtimeTranscription_);
        this.runtimeTranscription_ = "";
        recognition.stop();
      });
      recognition.start();
    },

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
