<template>
  <div class="container" style="padding-top: 0 !important;">
    <div class="h-100">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-4" style="width: 100%">
          <div class="text-black">
            <div class="flex-shrink-0">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                   alt="Generic placeholder image" class="img-fluid"
                   style="width: 180px; border-radius: 10px;">
            </div>
            <div class="d-flex row m-0 justify-content-center">
               <h5 style="line-height: 40px;margin: 0;color: #F44336;font-weight: 600;font-size: 18px;width: 60%;text-align: center">CHỌN CHƯƠNG</h5>
<!--               <button class="btn btn-primary" style="font-size: 18px; width: 40%;text-align: center"> UP ẢNH</button>-->
            </div>
            <div class="flex-grow-1 ms-3 ">
              <div class="d-flex flex-wrap">
                <input type="text" class="form-control row inputMoney" :value="playerOwn == null ? 0 : playerOwn.money">
                <div :key="index" v-for="(item, index) in playerAll" class="col-sm-4 d-flex justify-content-center p-0">
                  <button
                      :class="{'btn btn-primary col-sm-10 m-b-10' : true, ' btn-warning ' : item.statusOwn === true }"
                      @click="updatePlayerToOwn(item.id)">
                    {{ item.name }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import {API_GET_ALL_PLAYER, API_PLAYER_TO_OWN} from "@/common/UrlApi";
import {mapActions, mapState} from 'vuex';

export default {
  name: 'info-own',
  mounted() {
    this.showPlayer();
  },
  data() {
    return {
      idOwnNow: null,
      playerAll: [
        {
          id: null,
          name: null,
          status: null,
          statusOwn: null,
          money: null
        }
      ],
      playerOwn: {
        id: null,
        name: null,
        money: null,
        status: null,
        status_own: null
      }
    }
  },
  methods: {
    ...mapActions(['updateIdOwn', 'updateStatus','updateStatusAddPlayer']),
    changeIdOwner(id) {
      this.updateIdOwn(id);
      console.log("Ok rồi nhé ")
    },
    changeStatusUpdate() {
      this.updateStatus(false);
    },
    requestUpdatePlayerToOwn: function (id) {
      return {
        id: id,
        idN: this.playerAll.filter(e => e.id !== id).map(e => e.id)
      }
    },
    detailPlayerOwn: function () {
      const vm = this;
      vm.playerOwn = vm.playerAll.find(e => e.statusOwn === true);
      return vm.playerOwn;
    },
    showPlayer: async function () {
      await axios.post(API_GET_ALL_PLAYER)
          .then(response => {
            this.playerAll = response.data.data;
            this.playerOwn = this.detailPlayerOwn();
            if (this.playerOwn != null) {
              this.changeIdOwner(this.playerOwn.id);
            }
            console.log(response)
          })
          .catch(error => {
            console.log(error)
          })
    },
    updatePlayerToOwn: async function (id) {
      const vm = this;
      console.log("Request update to owner :", vm.requestUpdatePlayerToOwn(id))
      await axios.post(API_PLAYER_TO_OWN, vm.requestUpdatePlayerToOwn(id))
          .then(res => {
            vm.showPlayer();
            vm.detailPlayerOwn();
            this.idOwnNow = id;
            console.log(res)
          })
          .catch(error => {
            console.log(error);
          })
    }
  },
  computed: {
    ...mapState({
      statusUpdate: state => state.sharedData.statusUpdate,
      statusAddPlayer : state =>  state.sharedData.statusAddPlayer,
    })
  },
  watch: {
    statusUpdate: {
      immediate: true,
      handler() {
        let id = this.idOwnNow;
        this.showPlayer()
        this.changeStatusUpdate();
        console.log("status", id)
      },
      deep: true
    },
    statusAddPlayer: {
      immediate: true,
      handler() {
        this.showPlayer()
        this.updateStatusAddPlayer(false);
      },
      deep: true
    },
  },
}

</script>

<style>
.mt-10 {
  margin-top: 10px !important;
}

.p-10 {
  padding: 10px;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.inputMoney {
  margin: 0 3% 5% 3% !important;
  text-align: center;
}
</style>

<!--              <h5 class="mb-1">Danny McLoan</h5>-->
<!--              <p class="mb-2 pb-1" style="color: #2b2a2a;">Senior Journalist</p>-->
<!--              <input type="file">-->
<!--              <div class="d-flex justify-content-around mt-10"-->
<!--                   style="background-color: #efefef; margin-top: 10px">-->
<!--                <div>-->
<!--                  <p class="small text-muted mb-1">Articles</p>-->
<!--                  <p class="mb-0">41</p>-->
<!--                </div>-->
<!--                <div class="px-3">-->
<!--                  <p class="small text-muted mb-1">Followers</p>-->
<!--                  <p class="mb-0">976</p>-->
<!--                </div>-->
<!--                <div>-->
<!--                  <p class="small text-muted mb-1">Rating</p>-->
<!--                  <p class="mb-0">8.5</p>-->
<!--                </div>-->
<!--              </div>-->