<template>
  <div class="container-xl">
    <div class="table-responsive" style="margin-top: 0 !important; border-radius: 12px !important;">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-5">
              <h2 class="text-left">Quản lý sòng bạc</h2>
            </div>
            <div class="col-sm-7">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPlayerModal">
                Thêm người chơi
              </button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                      @click="showPlayer()">
                Tính tiền
              </button>
              <button type="button" class="btn btn-primary" id="stop_record">
                Stop
              </button>
              <button id="btn_stop" type="button" class="btn btn-primary"
                      @click="useSpeech()">
                Sử dụng giọng nói
              </button>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Sở hữu</th>
            <th>Ván hiện tại</th>
            <th>Tiền lưu</th>
            <th>Tình trạng</th>
            <!--            <th>Lựa chọn khác</th>-->
          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, index) in playerInGame" :key="index">
            <td>{{ index }}</td>
            <td class="text-bold text-center" style="width: 20% !important;">{{ item.name }}</td>
            <td>{{ item.moneyPlay }}</td>
            <td><input class="form-control text-center" type="number" v-model="item.moneyNowPlay"></td>
            <td><input class="form-control text-center" :value="item.moneyPlay + item.moneyNowPlay" disabled></td>
            <td v-if="item.statusPlay === true"><span class="status text-success">&bull;</span> Active</td>
            <td v-if="item.statusPlay === false"><span class="status text-danger">&bull;</span> Inactive</td>
          </tr>
          </tbody>
        </table>
        <div class="row d-flex justify-content-center">
          <button @click="updateData()" style="width: 30%" class="btn btn-primary">Lưu</button>
        </div>
        <div class="clearfix mt-10" style="padding: 10px 0">
          <input type="text" class="form-control" v-model="spokenText">
          <h5 style="margin: 0; line-height: 40px">Kết quả phân tích</h5>
          <textarea class="form-control"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="myModal" style="z-index: 10000">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Xếp loại</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div v-for="(item, index) in playerAll" :key="index" style="height: 40px"
               class="row d-flex justify-content-center">
            <div style="width: 30%">
              <button style="width: 90%; border-radius: 0" class="btn btn-success">{{ item.name }}</button>
            </div>
            <div style="width: 70%;" class="row d-flex justify-content-center">
              <input style="width: 90%;border-radius: 0; text-align: center" class="form-control" :value="item.money"
                     disabled>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal" id="addPlayerModal" ref="addPlayerModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Thêm người chơi</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div style="height: 40px" class="row d-flex justify-content-center">
            <input v-model="playerList" style="width: 90%;border-radius: 0; cursor: pointer" class="form-control"
                   placeholder="Ngăn cách tên bằng dấu ;">
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" ref="btn_add" @click="addPlayer()">Thêm</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
        </div>

      </div>
    </div>
  </div>
</template>

<script lang="js">
import {mapState} from 'vuex';
import axios from "axios";
import {mapActions} from 'vuex';
import {API_GET_ALL_GAME_TABLE, API_GET_ALL_PLAYER, API_UPDATE_MONEY_PLAYER, API_ADD_PLAYER} from "@/common/UrlApi";

export default {
  name: 'manager-monitor',
  mounted() {
    this.removeStr();
    console.log(process.env);
  },
  data() {
    return {
      action: false,
      runtimeTranscription_: "",
      transcription_: [],
      lang_: "vi-VN",
      spokenText: null,
      playerAll: [
        {
          id: null,
          name: null,
          status: null,
          statusOwn: null,
          money: null
        }
      ],
      playerInGame: [
        {
          id: null,
          name: null,
          idMaid: null,
          idOwn: null,
          statusPlay: null,
          moneyPlay: null,
          moneyNowPlay: null,
          moneySave: null
        }
      ],
      idOwnNow: null,
      person: null,
      sum: 0,
      playerList: null
    };
  },
  methods: {
    ...mapActions(['updateStatus', 'updateStatusAddPlayer']),
    useSpeech() {
      const txt_cf_done = ['ok', 'xác nhận', 'kết thúc', 'lưu', 'đã xác nhận'];
      window.SpeechRecognition =
          window.SpeechRecognition ||
          window.webkitSpeechRecognition;
      const recognition = new window.SpeechRecognition();
      recognition.lang = 'vi-VN'; // Chọn ngôn ngữ (vi-VN cho tiếng Việt)
      recognition.interimResults = false;
      recognition.maxAlternatives = 1; // Số lượng kết quả giọng nói tối đa
      recognition.continuous = true; // Thử với chế độ liên tục
      recognition.maxSpeechTimeout = 50000;
      // event current voice record word
      recognition.start();

      recognition.addEventListener("result", event => {
        let valueSpoken = Array.from(event.results)
            .map(result => result[0])
            .map(result => result.transcript)
            .join("");
        console.log("Value spoken : ", valueSpoken )
        this.spokenText = valueSpoken.toLowerCase().replace(/[.,;]/g, '');
        if (this.spokenText !== null || this.spokenText !== '') {
          const checkStop = txt_cf_done.some(value => this.spokenText.includes(value.toLowerCase()));
          if (checkStop) {
            recognition.stop();
            this.removeStr(this.spokenText);
          }
        }
      });
      // end of transcription
      recognition.addEventListener("end", () => {
        this.transcription_.push(this.runtimeTranscription_);
        recognition.stop();
        if (this.spokenText !== null || this.spokenText !== '') {
          this.removeStr(this.spokenText);
        }
      });

      const btnStop = document.getElementById('stop_record');
      btnStop.addEventListener('click', () => {
        recognition.stop();
      });
    },
    removeStr: function (value) {
      if (value !== undefined) {
        console.log("Data người chơi hiện tại :" , this.playerInGame);
        let st = value;
        console.log("Data để phân tích : ", st )
        let nameArr = [...this.playerInGame.map(e => {
          let str = e.name;
          if (str !== null) {
            return str.toLowerCase();
          }
          return null;
        })];
        console.log("Name arr : ", nameArr);
        const regexPattern = new RegExp(`(${nameArr.join('|')})\\s+\\p{L}+\\s*\\d+`, 'gu');
        const matches = st.match(regexPattern);
        console.log('Data sau khi đã phân tích : ', matches);
      }
    },
    changeStatusAddPlayer() {
      this.updateStatusAddPlayer(true);
    },
    changeStatusUpdate() {
      this.updateStatus(true);
    },
    requestAllPlayerInGame: function (id) {
      return {
        id: id
      }
    },
    requestUpdateMoney: function () {
      const vm = this;
      return {
        idOwn: vm.idOwnNow,
        list: vm.playerInGame,
        sum: vm.sum
      }
    },
    addPlayer: async function () {
      const vm = this;
      this.$refs.btn_add.setAttribute('data-dismiss', 'modal');
      await axios.post(API_ADD_PLAYER, vm.playerList, {
        headers: {
          'Content-Type': 'application/json; charset=utf-8',
        },
      })
          .then(res => {
            console.log(res);
            vm.playerList = '';
            this.showData(vm.idOwnNow);
            this.changeStatusAddPlayer();
          })
          .catch(error => {
            console.log("Error :", error);
          });
    },
    showData: async function (ownId) {
      const vm = this;
      await axios.post(API_GET_ALL_GAME_TABLE, this.requestAllPlayerInGame(ownId))
          .then(res => {
            vm.playerInGame = res.data.data;
            vm.playerInGame = this.playerInGame.map(item => ({
              ...item,
              moneyNowPlay: 0,
              moneySave: item.moneyPlay
            }));
            console.log('player in game :', vm.playerInGame);
          })
          .catch(error => {
            console.log("Error :", error);
          })
    },
    updateData: async function () {
      this.playerInGame.map(e => {
        e.moneySave = e.moneyPlay + e.moneyNowPlay;
        this.sum += e.moneyNowPlay
      });
      await axios.post(API_UPDATE_MONEY_PLAYER, this.requestUpdateMoney())
          .then(res => {
            this.showData(this.idOwnNow);
            this.changeStatusUpdate();
            this.sum = 0;
            console.log(res);
          })
          .catch(error => {
            console.log(error);
          })
    },
    showPlayer: async function () {
      await axios.post(API_GET_ALL_PLAYER)
          .then(response => {
            this.playerAll = response.data.data.sort((a, b) => b.money - a.money);
          })
          .catch(error => {
            console.log(error)
          })
    }
  },
  computed: {
    ...mapState({
      idOwn: state => state.sharedData.idOwn
    })
  },
  watch: {
    idOwn: {
      immediate: true,
      handler(ownId) {
        this.idOwnNow = ownId;
        this.showData(ownId);
      },
      deep: true
    }
  },
}
</script>

<style>
body {
  color: #566787;
  background: #f5f5f5;
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
}

.text-bold {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}

.table-responsive {
  margin: 30px 0;
}

.text-left {
  text-align: left;
}

.table-wrapper {
  min-width: 1000px;
  background: #fff;
  padding: 20px 25px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
  background: #299be4;
  color: #fff;
  padding: 15px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}

.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}

.table-title .btn {
  color: #566787;
  float: right;
  font-size: 13px;
  background: #fff;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}

.table-title .btn:hover, .table-title .btn:focus {
  color: #566787;
  background: #f2f2f2;
}

.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}

.table-title .btn span {
  float: left;
  margin-top: 2px;
}

table.table tr th, table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

table.table tr th:first-child {
  width: 60px;
}

table.table tr th:last-child {
  width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}

table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
}

table.table td a:hover {
  color: #2196F3;
}

table.table td a.settings {
  color: #2196F3;
}

table.table td a.delete {
  color: #F44336;
}

table.table td i {
  font-size: 19px;
}

table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.status {
  font-size: 30px;
  margin: 2px 2px 0 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 10px;
}

.text-success {
  color: #10c469;
}

.text-info {
  color: #62c9e8;
}

.text-warning {
  color: #FFC107;
}

.text-danger {
  color: #ff5b5b;
}

.pagination {
  float: right;
  margin: 0 0 5px;
}

.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}

.pagination li a:hover {
  color: #666;
}

.pagination li.active a, .pagination li.active a.page-link {
  background: #03A9F4;
}

.pagination li.active a:hover {
  background: #0397d6;
}

.pagination li.disabled i {
  color: #ccc;
}

.pagination li i {
  font-size: 16px;
  padding-top: 6px
}

.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}
</style>
<!--          <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>-->
<!--          <ul class="pagination">-->
<!--            <li class="page-item disabled"><a href="#">Previous</a></li>-->
<!--            <li class="page-item"><a href="#" class="page-link">1</a></li>-->
<!--            <li class="page-item"><a href="#" class="page-link">2</a></li>-->
<!--            <li class="page-item active"><a href="#" class="page-link">3</a></li>-->
<!--            <li class="page-item"><a href="#" class="page-link">4</a></li>-->
<!--            <li class="page-item"><a href="#" class="page-link">5</a></li>-->
<!--            <li class="page-item"><a href="#" class="page-link">Next</a></li>-->
<!--          </ul>-->